* {
	box-sizing: content-box;
}

.spacing1{
	padding: 0px 13px;
	position: absolute;
}

.spacing0{
	padding: 13px 300px;
	position: absolute;
}

a {
	font-family: 'Barrio', cursive;	
	font-size: 20px;
    color: white;
    text-decoration: none;
  }

a:hover {
	background-color: black;
}


p{
	width: 450px;
	margin: 10px;
	font-family: 'Barrio', cursive;	font-size: px;
}

h1{
	font-family: 'Barrio', cursive;
}

h3{
	font-family: 'Barrio', cursive;
}